*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   header{
       height: 100px;
       background-color: black;
       color: aliceblue;
   }
   body{
     font-family:'Montserrat';
     font-size: 13px;
}
   .header {
       max-width: 1140px; 
       height: 100px;
       margin:auto;
       display:flex ;
       align-items: center;
   }

    .logo {
        width:100px;
    }
    
.logoing {
  width:80px; 
  height:80px;
  background-color: #b28756;
 }
    .menu {
    flex: 1;
      display:flex;
      justify-content:flex-end;
    }
    .menu ul,
    .menu li {
        list-style:none;
    }
    .menu ul {
        display: flex;
    }
    .menu li a{
        color: aliceblue;
        text-transform: uppercase;
        font-weight: 600;
        text-decoration: none;
        display: block;
        padding-left: 10px;
        padding-right: 10px;
        height: 100px;
        display:flex;
        align-items:center;
        border-bottom: 5px solid black;
    }
    .menu li a:hover,
    .menu  .active a{
        border-bottom: 5px solid #b28756
    }
    
   
.banner{
        height: calc(100vh - 100px);
        background-color:rgb(121, 130, 138);
        background-image:url('../imagens/bg.jpg');
        background-size:cover;
        background-position: bottom;
        overflow:hidden;

}

.banner .sliders{
     width:100vw;
     height: 100%;
}
 .banner .slide {
     width: 100vw;
     height: 100%;
     display:inline-block;
     background-color:rgba(0, 0, 0, 0.8);
 }